<div class="jumbotron">
  <div class="container-fluid">
    <h2><%= @user.name %>の行きたいPLAN LIST</h2>
  </div>
</div>

<div class="container">
  <div class="row mb-5 mt-5">
    <%= render partial: "plans/plan", collection: @favorite_plans %>
  </div>
</div>