<div class="container-fluid">
  <div class="row">
      <div class="col no-gutters">
    <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
    </div>
  </div>
  <div class="row">
      <h2>about</h2>
  </div>
</div>