<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters">
      <%= image_tag('img/topimg.jpg', class: "img-fluid") %>
      <div class="card-img-overlay">
        <p class="text-white">使い方はあなた次第</p>
        <h1 class="text-white">MY TRIP PLAN</h1>
        <p class="text-white">
          様々な旅のシーンで役立つ<br/>
          旅プラン共有サイト
        </p>
        <button class="btn btn-outline-light">新規登録をしてはじめる</button>
      </div>
    </div>
  </div>
  <div class="row">
      <h2>about</h2>
  </div>
</div>