/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.no-gutters {
  margin:0;
  padding:0;
}

.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

.card-img-overlay{
  padding: 0;
  top: calc(20%);
  text-align: center;
  font-weight: bold;
}

.jumbotron {
  background: url("img/header_image.png");
  background-position: center center;
  background-size: cover;
  color: black;
}

.jumbotron .container-fluid {
  margin-top: 13%;
}

.top-color {
  background-color: #ffa07a;
}

.pagination {
  justify-content: center;
}
